package hello.world;

import java.util.Scanner;

public class HelloWorld {


    public static void main(String[] args) {

        System.out.print("Enter number:");
        
        Scanner input = new Scanner(System.in);
        int num1 = input.nextInt();
        int num2 = input.nextInt();
        int num3 = input.nextInt();
       
        System.out.println(num1+" "+num2+" "+num3);
        
        int result = MaxOfThreeNumbers(num1, num2, num3);
        System.out.println("Greatest value:" +result);
        
        int arr[] = {5,78,45,67,34,21};
        double avg = calculateAverage(arr);
        System.out.println("Avarage of Array:"+avg);
                      
                
    }
    public static double calculateAverage(int [] numberArray){
        double total = 0;
            for(int i = 0; i < numberArray.length;i++) {
                total += numberArray[i];
            }
            double avg = total / numberArray.length;
            return avg;
    }
    
    public static int MaxOfThreeNumbers(int X, int Y, int Z){
        if(X > Y) {
            if(X > Z){return x;}
            else{return Z;}
           
        }
        else{
            if(Y > Z) {return Y;}
            else{return Z;}
        }

    }
    

}
